<%- include('Partials/head') %>
<!-- Photo Grid-->
<div class="container">
  <div style="margin-top: 70px" class="row justify-content-md-center">
    <%for(let i=0;i < articles.length;i++){%>
      <div class="col col-lg-4">
        <img src="/img/Flow_ollnzm.jpg" alt="book" style="width:100%" class="w3-hover-opacity" />
        <div class="">
          <a href="/article/<%=articles[i].id%>/content" style="text-decoration: none" ><b style="font-size: 20px"><%=articles[i].title%></b></a>
          <p>
            <%=articles[i].username%>
          </p>
        </div>
      </div>
    <%}%>
    </div>
</div>
<%- include('Partials/foot') %>
